.modal[data-v-10f3dade] {
  position: fixed;
  z-index: 5000000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal[data-v-10f3dade],
.modal-box[data-v-10f3dade] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box[data-v-10f3dade] {
  background-color: #202020;
  border-radius: 10px;
  flex-direction: column;
  padding: 1em;
}
.modal-title[data-v-10f3dade] {
  font-size: 1.5em;
  color: #fff;
}
.modal-button-grid[data-v-10f3dade] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-top: 1em;
}
.modal-button[data-v-10f3dade] {
  background-color: #404040;
  border: none;
  border-radius: 5px;
  padding: 1em;
  min-width: 10em;
  color: #fff;
  cursor: pointer;
}
.modal-button[data-v-10f3dade]:hover {
  background-color: #606060;
}
.btn-good[data-v-10f3dade] {
  background-color: #047ee9;
}
.btn-good[data-v-10f3dade]:hover {
  background-color: #08f;
}
textarea[data-v-10f3dade] {
  max-width: 100%;
  width: 90%;
  min-height: 150px;
  height: auto;
  font-size: 18px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin: 1em 2em;
}
