[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  transition: all 0.15s ease;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 #7878785e;
}
[data-tooltip]:hover:before {
  opacity: 1;
  position: absolute;
  background: #6c6b6b;
  color: #fff;
  margin-top: -50px;
  margin-left: -48px;
  font-size: 0.8em;
}
.copied[data-tooltip]:hover:before {
  background: #00a54e;
}
[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}
