.img-icon[data-v-5f27e27e] {
  width: 1em;
  fill: #fff;
  margin-left: 0.3em;
  cursor: pointer;
}
.top-right-icons[data-v-5f27e27e] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.settings-icon[data-v-5f27e27e] {
  cursor: pointer;
  stroke: #fff;
  width: 0.9em;
}
.enlarge-icon[data-v-5f27e27e] {
  fill: #fff;
  width: 0.9em;
  cursor: pointer;
}
.header-text[data-v-5f27e27e] {
  margin-left: 0.3em;
}
.enlarged[data-v-5f27e27e] {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 70vw;
  max-width: 1000px;
  z-index: 500000000;
}
.fusion-container[data-v-5f27e27e] {
  font-family: Kanit, sans-serif;
  font-size: 16px;
  background-color: #202020;
  border-radius: 2em;
  padding: 0.8em;
  color: #fff;
  box-shadow: -1px -1px 6px 0 #fff;
  margin-bottom: 2em;
  flex: 1;
}
.refill-btn[data-v-5f27e27e] {
  color: #23e1ff;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}
.refill-btn[data-v-5f27e27e]:hover {
  color: #00ffef;
}
.sign-in-btn[data-v-5f27e27e] {
  color: #23e1ff;
  cursor: pointer;
}
.sign-in-btn[data-v-5f27e27e]:hover {
  text-decoration: underline;
  color: #00ffef;
}
.sendBox[data-v-5f27e27e] {
  margin-left: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.fusion-heading[data-v-5f27e27e] {
  font-size: 2em;
  margin-bottom: 0.2em;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.enlarged .fusion-chat-box[data-v-5f27e27e] {
  min-height: 70vh;
}
.fusion-chat-box[data-v-5f27e27e] {
  font-size: 1em;
  margin-left: 0.1em;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.helper-container .fusion-chat-box[data-v-5f27e27e] {
  max-height: 55vh;
}
.fusion-chat-box[data-v-5f27e27e]::-webkit-scrollbar {
  width: 5px;
}
.fusion-chat-box[data-v-5f27e27e]::-webkit-scrollbar-track {
  background-color: #494949;
}
.fusion-chat-box[data-v-5f27e27e]::-webkit-scrollbar-thumb {
  box-shadow: 0 0 2px #000;
  background: #888888e8;
}
.search-icon[data-v-5f27e27e] {
  fill: #fff;
  width: 1.1em;
  display: inline-block;
  margin-left: 1em;
}
