.cursor-fusion:after,
.isPrinting > :not(ol):not(ul):not(pre):last-child:after,
.isPrinting > ol:last-child li:last-child:after,
.isPrinting > pre:last-child code:after,
.isPrinting > ul:last-child li:last-child:after {
  color: #fff;
  animation: cursor-blink 0.5s steps(5, start) infinite;
  content: "▋";
  margin-left: 0.25rem;
  vertical-align: baseline;
}
@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}
.marked-down-fusion img {
  max-width: 100%;
}
.marked-down-fusion a {
  color: #fff;
}
.marked-down-fusion pre {
  white-space: pre-wrap;
}
.marked-down-fusion > * {
  margin: 0;
  margin-bottom: 0.4em;
}
.marked-down-fusion pre {
  background: #2e2e2e;
  padding: 0.5em;
  border-radius: 0.5em;
  color: azure;
}
.marked-down-fusion ul {
  margin-left: 1em;
}
.marked-down-fusion p code {
  background: #2e2e2e;
  padding: 0.2em;
  border-radius: 0.2em;
  color: azure;
}
.marked-down-fusion table {
  overflow: auto;
}
.marked-down-fusion table th {
  font-weight: 600;
}
.marked-down-fusion table,
.marked-down-fusion td,
.marked-down-fusion th {
  padding: 0.25em 0.5em;
  border: 1px solid #dfe2e5;
  border-collapse: collapse;
}
